body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 20px;
  }
  .bar
{  margin: 7px;
}

  .bar-graph-horizontal {
    max-width: 380px;
  }

  #bar-one{
    background-color: #64b2d1;
    width: 20%;
  }

  #bar-two{
    background-color: #5292ac;
    width: 20%;
  }

  #bar-three{
    background-color: #407286;
    width: 20%;
  }

  #bar-four{
    background-color: #365d6c;
    width: 20%;
  }

  #bar-five{
    background-color: #1e3943;
    ;   width: 20%;
  }


